@charset "UTF-8";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('../src/bg.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: white;
    text-align: center;
    text-shadow: -2px -2px black, -2px 2px black, 2px 2px black, 2px -2px black;
    font-size: 3rem;
}

h1 img {
    width: 3rem;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }

    h1{
        font-size: 4rem;
    }

    h1 img {
        width: 4rem;
    }
}